body {
	font-family: 'Roboto', sans-serif;
	color: #676858;
	font-weight: 300;
}
.title-size {
	font-size: 60px;
}
.text-thin	{
	font-weight: 100;
}
.subtitle-size {
	font-size: 40px;
	font-weight: 300;	
}
.text-normal {
	font-weight: 100;
}
.text-muted {
	color: #BCBBBB;
	}
img.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
